// Place all the styles related to the Classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.button.button4
{

    left: 38%;

border-top: 1px solid #2e9e18;
   background: #2e9e18;
   background: -webkit-gradient(linear, left top, left bottom, from(#2e9e18), to(#2e9e18));
   background: -webkit-linear-gradient(top, #2e9e18, #2e9e18);
   background: -moz-linear-gradient(top, #2e9e18, #2e9e18);
   background: -ms-linear-gradient(top, #2e9e18, #2e9e18);
   background: -o-linear-gradient(top, #2e9e18, #2e9e18);
}

.button.button4:hover {
   border-top-color: #2e9e18;
   background: #2e9e18;
   color: #ccc;
   }
.button.button4:active {
   border-top-color: #2e9e18;
   background: #2e9e18;
   }
